* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
        
html { 
    font-size: 24px;
}
    
body { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    min-height: 100vh; /* Set minimum height to cover the entire viewport */ 
    background-color: lightblue; 
    font-family: 'Times New Roman', Times, serif; 
}
    
h1 { 
    font-size: 1.2rem; 
}
    
#btn { 
    height: 40px; 
    width: 14rem; 
    font-size: 0.85rem; 
    margin: 2rem;
    font-family: 'Times New Roman', Times, serif;
}
    
.cats_info { 
    list-style: none; 
    padding: 0; display: 
    flex; flex-wrap: wrap;
    justify-content: center; 
    gap: 1rem;
    font-size: 0.8rem;
}
    
.cats_info li { 
    margin: 10px; 
}
    
.cats_info img { 
    width: 200px; 
    height: 150px; 
    object-fit: cover;
}